<lasso-page/>

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>marko-koa</title>
        <lasso-head/>
    </head>
    <body>
        <app-hello name=input.name/>
        <p>You have ${input.count} messages</p>
        <ul if(input.colors.length)>
            <li style="color: ${color}" for(color in data.colors)>${color}</li>
        </ul>
        <lasso-body/>
        <browser-refresh/>
    </body>
</html>
